<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0.0"
          android:installLocation="auto"
          package="ru.nacu.todos">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14"/>

    <application android:icon="@drawable/vk_icon"
                 android:name="App"
                 android:label="@string/app_name"
                 android:hardwareAccelerated="true">

        <uses-library android:name="com.google.android.maps"/>

        <activity android:name=".ui.MainActivity"
                  android:theme="@style/Theme.Sherlock.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <provider android:name=".dao.Data" android:authorities="ru.nacu.todos.db"/>
    </application>
</manifest>
